In [1]:
import pandas as pd

In [2]:
transition_matrices: list[pd.DataFrame] = []
for year in range(9):
    transition_matrices.append(
        pd.read_csv(f"results/transition_matrix_{year+1}_to_{year+2}.csv", index_col=0)
    )

transition_matrices

[          AAA        AA         A       BBB        BB         B         C  \
 AAA  0.115226  0.127572  0.119342  0.119342  0.160494  0.123457  0.131687
 AA   0.116041  0.095563  0.187713  0.126280  0.119454  0.146758  0.105802
 A    0.132075  0.135849  0.124528  0.135849  0.162264  0.120755  0.098113
 BBB  0.150000  0.107692  0.138462  0.111538  0.107692  0.138462  0.142308
 BB   0.120968  0.100806  0.096774  0.112903  0.137097  0.125000  0.177419
 B    0.126697  0.122172  0.117647  0.108597  0.122172  0.149321  0.108597
 C    0.115044  0.123894  0.123894  0.123894  0.128319  0.119469  0.110619
 D    0.122951  0.135246  0.147541  0.151639  0.127049  0.118852  0.094262

             D
 AAA  0.102881
 AA   0.102389
 A    0.090566
 BBB  0.103846
 BB   0.129032
 B    0.144796
 C    0.154867
 D    0.102459  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.132000  0.148000  0.100000  0.116000  0.120000  0.156000  0.148000
 AA   0.165254  0.097458  0.105932  0.110169  0.135593  0.118644  0.122881
 A    0.116105  0.142322  0.149813  0.119850  0.112360  0.101124  0.104869
 BBB  0.137097  0.133065  0.149194  0.088710  0.120968  0.141129  0.096774
 BB   0.112782  0.142857  0.112782  0.090226  0.131579  0.146617  0.124060
 B    0.168582  0.141762  0.107280  0.130268  0.095785  0.111111  0.107280
 C    0.099174  0.123967  0.103306  0.148760  0.115702  0.095041  0.157025
 D    0.147826  0.152174  0.113043  0.108696  0.073913  0.143478  0.139130

             D
 AAA  0.080000
 AA   0.144068
 A    0.153558
 BBB  0.133065
 BB   0.139098
 B    0.137931
 C    0.157025
 D    0.121739  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.092937  0.130112  0.130112  0.156134  0.144981  0.096654  0.115242
 AA   0.136531  0.114391  0.092251  0.140221  0.132841  0.121771  0.132841
 A    0.152542  0.114407  0.110169  0.122881  0.097458  0.161017  0.114407
 BBB  0.096491  0.127193  0.109649  0.100877  0.140351  0.118421  0.175439
 BB   0.118943  0.189427  0.083700  0.136564  0.136564  0.132159  0.118943
 B    0.126482  0.142292  0.094862  0.086957  0.146245  0.118577  0.138340
 C    0.132530  0.092369  0.128514  0.092369  0.136546  0.156627  0.152610
 D    0.134831  0.104869  0.146067  0.134831  0.127341  0.123596  0.116105

             D
 AAA  0.133829
 AA   0.129151
 A    0.127119
 BBB  0.131579
 BB   0.083700
 B    0.146245
 C    0.108434
 D    0.112360  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.157258  0.104839  0.116935  0.092742  0.129032  0.157258  0.133065
 AA   0.150794  0.115079  0.115079  0.138889  0.115079  0.146825  0.083333
 A    0.115556  0.124444  0.120000  0.093333  0.155556  0.155556  0.142222
 BBB  0.143443  0.131148  0.098361  0.127049  0.118852  0.139344  0.139344
 BB   0.109023  0.131579  0.105263  0.135338  0.127820  0.112782  0.135338
 B    0.128906  0.125000  0.171875  0.085938  0.128906  0.125000  0.121094
 C    0.139623  0.094340  0.128302  0.116981  0.150943  0.101887  0.132075
 D    0.118852  0.139344  0.110656  0.106557  0.155738  0.127049  0.122951

             D
 AAA  0.108871
 AA   0.134921
 A    0.093333
 BBB  0.102459
 BB   0.142857
 B    0.113281
 C    0.135849
 D    0.118852  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.131579  0.097744  0.105263  0.142857  0.127820  0.131579  0.131579
 AA   0.120332  0.128631  0.157676  0.087137  0.120332  0.149378  0.136929
 A    0.103306  0.132231  0.111570  0.173554  0.123967  0.107438  0.136364
 BBB  0.168889  0.097778  0.151111  0.088889  0.124444  0.142222  0.137778
 BB   0.129630  0.125926  0.148148  0.133333  0.122222  0.100000  0.125926
 B    0.105660  0.105660  0.105660  0.169811  0.135849  0.147170  0.120755
 C    0.107143  0.119048  0.130952  0.134921  0.119048  0.130952  0.119048
 D    0.129707  0.138075  0.142259  0.092050  0.121339  0.142259  0.133891

             D
 AAA  0.131579
 AA   0.099585
 A    0.111570
 BBB  0.088889
 BB   0.114815
 B    0.109434
 C    0.138889
 D    0.100418  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.129032  0.133065  0.112903  0.129032  0.141129  0.108871  0.112903
 AA   0.110169  0.135593  0.118644  0.152542  0.122881  0.127119  0.097458
 A    0.152672  0.122137  0.103053  0.148855  0.129771  0.103053  0.106870
 BBB  0.135659  0.166667  0.112403  0.131783  0.112403  0.104651  0.127907
 BB   0.148594  0.120482  0.132530  0.108434  0.112450  0.108434  0.132530
 B    0.145038  0.133588  0.118321  0.114504  0.133588  0.137405  0.129771
 C    0.130769  0.115385  0.100000  0.107692  0.096154  0.180769  0.134615
 D    0.111111  0.106667  0.120000  0.124444  0.115556  0.177778  0.151111

             D
 AAA  0.133065
 AA   0.135593
 A    0.133588
 BBB  0.108527
 BB   0.136546
 B    0.087786
 C    0.134615
 D    0.093333  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.127341  0.157303  0.078652  0.146067  0.097378  0.119850  0.142322
 AA   0.119691  0.115830  0.108108  0.127413  0.127413  0.166023  0.138996
 A    0.113537  0.144105  0.157205  0.113537  0.131004  0.113537  0.126638
 BBB  0.153543  0.145669  0.102362  0.122047  0.098425  0.106299  0.114173
 BB   0.153527  0.116183  0.128631  0.112033  0.103734  0.116183  0.141079
 B    0.103448  0.118774  0.126437  0.095785  0.157088  0.153257  0.134100
 C    0.108871  0.133065  0.104839  0.112903  0.141129  0.125000  0.153226
 D    0.141079  0.107884  0.145228  0.103734  0.124481  0.103734  0.149378

             D
 AAA  0.131086
 AA   0.096525
 A    0.100437
 BBB  0.157480
 BB   0.128631
 B    0.111111
 C    0.120968
 D    0.124481  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.117647  0.129412  0.117647  0.121569  0.133333  0.113725  0.125490
 AA   0.123077  0.146154  0.134615  0.138462  0.134615  0.123077  0.092308
 A    0.139831  0.114407  0.105932  0.144068  0.110169  0.148305  0.101695
 BBB  0.158120  0.106838  0.141026  0.115385  0.132479  0.102564  0.123932
 BB   0.118367  0.146939  0.138776  0.061224  0.126531  0.122449  0.146939
 B    0.150794  0.111111  0.115079  0.130952  0.119048  0.111111  0.150794
 C    0.156364  0.141818  0.083636  0.087273  0.090909  0.160000  0.167273
 D    0.115226  0.131687  0.098765  0.139918  0.144033  0.135802  0.094650

             D
 AAA  0.141176
 AA   0.107692
 A    0.135593
 BBB  0.119658
 BB   0.138776
 B    0.111111
 C    0.112727
 D    0.139918  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.137037  0.155556  0.103704  0.107407  0.125926  0.118519  0.111111
 AA   0.127907  0.158915  0.124031  0.135659  0.100775  0.104651  0.135659
 A    0.090129  0.120172  0.141631  0.154506  0.090129  0.150215  0.167382
 BBB  0.115385  0.115385  0.141026  0.102564  0.136752  0.123932  0.153846
 BB   0.117409  0.145749  0.137652  0.101215  0.137652  0.109312  0.133603
 B    0.117647  0.082353  0.125490  0.141176  0.094118  0.168627  0.137255
 C    0.130952  0.142857  0.134921  0.126984  0.107143  0.099206  0.134921
 D    0.115538  0.115538  0.127490  0.115538  0.147410  0.139442  0.127490

             D
 AAA  0.140741
 AA   0.112403
 A    0.085837
 BBB  0.111111
 BB   0.117409
 B    0.133333
 C    0.123016
 D    0.111554  ]

In [3]:
default_probabilities = [
    transition_matrix["D"] for transition_matrix in transition_matrices
]

In [4]:
ratings_df = pd.read_csv("data/Ratings.csv", index_col=0)
pd_df = pd.DataFrame()

for i, year in enumerate(range(2, 11)):
    pd_df[f"Year {year}"] = ratings_df[f"Year {year}"].map(default_probabilities[i])

pd_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,
1,0.103846,0.133065,0.146245,0.093333,0.088889,0.108527,0.124481,0.135593,0.111111
2,0.129032,0.137931,0.129151,0.108871,0.138889,0.087786,0.131086,0.141176,0.140741
3,0.102389,0.139098,0.129151,0.142857,0.114815,0.134615,0.124481,0.119658,0.085837
4,0.103846,0.144068,0.127119,0.113281,0.100418,0.134615,0.120968,0.107692,0.140741
5,0.090566,0.080000,0.127119,0.135849,0.138889,0.135593,0.131086,0.111111,0.111111
...,...,...,...,...,...,...,...,...,...
1996,0.154867,0.139098,0.129151,0.113281,0.131579,0.135593,0.128631,0.107692,0.085837
1997,0.102881,0.153558,0.108434,0.113281,0.131579,0.108527,0.120968,0.135593,0.133333
1998,0.129032,0.139098,0.083700,0.118852,0.088889,0.108527,0.124481,0.135593,0.133333
1999,0.102881,0.139098,0.108434,0.118852,0.111570,0.093333,0.124481,0.107692,0.111111
2000,0.102459,0.121739,0.112360,0.108871,0.111570,0.136546,0.128631,0.138776,0.117409

In [5]:
pd_df.to_csv("results/probability_of_default.csv")

In [6]:
lgd_df = pd.read_csv("data/LGD.csv", index_col=0)
ead_multiplier_df = pd.read_csv("data/EAD.csv", index_col=0)
amount_df = pd.read_csv("data/Amount.csv", index_col=0)

ead_df = amount_df * ead_multiplier_df
ead_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,12.810614,34.770512,28.718416,40.408848,23.316523,10.009906,12.922705,37.298318,47.674596,16.865315
2,5.282260,24.560620,3.154042,33.229493,10.717220,20.158502,3.862200,39.439464,41.695822,44.597097
3,16.637706,4.924824,41.839875,22.633789,16.511762,6.858320,56.214754,12.806135,35.340573,3.779069
4,2.076288,35.098718,15.148340,23.206436,35.030467,26.938684,44.093305,20.070455,10.725917,23.815188
5,16.037031,22.651730,4.717183,25.176720,15.247376,15.916207,25.931473,2.130878,19.531495,4.432807
...,...,...,...,...,...,...,...,...,...,...
1996,21.413156,23.173165,35.898508,16.101259,23.107668,16.022663,19.673962,11.045350,19.882677,20.676768
1997,26.602382,14.325095,21.700151,30.335485,29.732503,25.909430,24.265779,23.248249,17.657489,5.880102
1998,8.264673,34.784682,50.566567,25.274536,34.774062,11.620097,9.302535,11.835778,14.954926,28.543100
1999,6.043195,16.640654,23.936597,27.651191,25.974991,41.614165,17.328385,19.445114,9.340968,24.565706
2000,19.156792,34.270129,4.055908,10.175195,34.659960,8.164593,55.344610,13.105450,42.035695,21.488022

In [7]:
el_df = pd.DataFrame()
for year in range(2, 11):
    el_df[f"Year {year}"] = (
        pd_df[f"Year {year}"] * lgd_df[f"Year {year}"] * ead_df[f"Year {year}"]
    )

el_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,
1,2.797486,1.042076,0.860147,1.464829,0.719236,0.995237,2.254948,0.835282,0.955412
2,2.305359,0.351010,3.612446,1.014476,1.159884,0.121753,1.681323,2.624198,5.435730
3,0.187507,1.000265,1.734738,1.483988,0.200103,5.556143,0.779963,2.787282,0.258592
4,1.316686,1.076115,2.260664,0.597738,1.598046,1.872022,0.739820,0.368265,0.536140
5,0.591442,0.302122,2.848032,1.058594,1.084069,0.430682,0.108810,0.488690,0.320248
...,...,...,...,...,...,...,...,...,...
1996,1.867174,2.694466,0.714773,2.145533,0.309399,2.060609,0.868886,0.997014,0.188491
1997,0.978949,1.122452,0.512821,2.219864,2.871920,0.604246,1.227532,1.461093,0.398712
1998,1.352425,2.421991,1.735739,2.427433,0.857748,0.474547,0.707241,1.013323,2.569146
1999,0.677159,2.925941,1.718383,1.633348,3.782919,1.202882,0.678725,0.275577,2.337935
2000,1.282500,0.416323,0.258390,1.936300,0.746440,2.587390,0.346860,3.899283,1.300548

In [8]:
el_df.to_csv("results/expected_loss.csv")

In [9]:
survival_probabilities_df = 1 - pd_df

In [10]:
cum_pd_df = pd.DataFrame(1, index=pd_df.index, columns=["Year 5", "Year 10"])
cum_pd_df["Year 5"] = 1 - (
    survival_probabilities_df.loc[:, "Year 2":"Year 5"].prod(axis=1)
)
cum_pd_df["Year 10"] = 1 - (
    survival_probabilities_df.loc[:, "Year 2":"Year 10"].prod(axis=1)
)

cum_pd_df

                   Year 5   Year 10
Borrower Number
1                0.398618  0.671405
2                0.417324  0.706514
3                0.423183  0.688670
4                0.406305  0.688501
5                0.368892  0.677483
...                   ...       ...
1996             0.438167  0.700224
1997             0.399674  0.693944
1998             0.394601  0.677480
1999             0.393255  0.660606
2000             0.376473  0.683192

[2000 rows x 2 columns]

In [11]:
cum_pd_df.to_csv("results/cumulative_probability_of_default.csv")