In [63]:
import pandas as pd

In [64]:
PATH = "data/GR_20.xlsx"
SHEET = "GR 20"

In [65]:
columns = {
    "Set": [0] + list(range(1, 11)),
    "Ratings": [0] + list(range(11, 21)),
    "Amount": [0] + list(range(21, 31)),
    "LGD": [0] + list(range(31, 41)),
    "EAD": [0] + list(range(41, 51)),
}
column_names = [f"Year {i}" for i in range(1, 11)]

In [66]:
for col, indices in columns.items():
    set_cols = indices
    data = pd.read_excel(
        PATH, sheet_name=SHEET, skiprows=1, usecols=set_cols, index_col=0
    )
    data.columns = column_names
    data.to_csv(f"data/{col}.csv")

In [67]:
set_df = pd.read_csv("data/Set.csv", index_col=0)
set_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,1,4,4,6,3,4,4,8,3,4
2,3,5,6,2,1,7,6,1,1,1
3,5,2,5,2,5,5,7,8,4,3
4,4,4,2,3,6,8,7,7,2,1
5,8,3,1,3,7,7,2,1,6,4
...,...,...,...,...,...,...,...,...,...,...
1996,8,7,5,2,6,1,2,5,2,3
1997,4,1,3,7,6,1,4,7,3,6
1998,7,5,5,5,8,4,4,8,3,6
1999,6,1,5,7,8,3,8,8,2,4
2000,6,8,8,8,1,3,5,5,5,5

In [68]:
ratings_df = pd.read_csv("data/Ratings.csv", index_col=0)
ratings_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,AAA,BBB,BBB,B,A,BBB,BBB,D,A,BBB
2,A,BB,B,AA,AAA,C,B,AAA,AAA,AAA
3,BB,AA,BB,AA,BB,BB,C,D,BBB,A
4,BBB,BBB,AA,A,B,D,C,C,AA,AAA
5,D,A,AAA,A,C,C,AA,AAA,B,BBB
...,...,...,...,...,...,...,...,...,...,...
1996,D,C,BB,AA,B,AAA,AA,BB,AA,A
1997,BBB,AAA,A,C,B,AAA,BBB,C,A,B
1998,C,BB,BB,BB,D,BBB,BBB,D,A,B
1999,B,AAA,BB,C,D,A,D,D,AA,BBB
2000,B,D,D,D,AAA,A,BB,BB,BB,BB

In [69]:
amount_df = pd.read_csv("data/Amount.csv", index_col=0)
amount_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,8.995753,18.007378,28.399456,22.680927,12.723861,7.528207,7.994778,28.655648,26.748855,10.032666
2,2.871564,22.493362,1.843625,28.701474,9.934180,11.257242,2.554424,25.648806,23.440150,27.170404
3,15.817846,3.786775,27.581154,21.555648,16.248930,4.290062,28.393434,11.874252,28.474992,2.743719
4,1.417509,21.430213,8.087640,21.248784,20.108913,23.978444,26.559775,15.795198,7.542041,18.798653
5,12.965658,13.321184,3.147983,21.126491,11.194385,8.045151,22.865177,1.316929,12.275111,2.470365
...,...,...,...,...,...,...,...,...,...,...
1996,19.109307,13.756608,22.347244,9.725943,17.865846,10.948988,10.121043,7.254690,11.823003,15.608666
1997,13.941216,11.536667,11.777440,16.894458,28.974883,16.834037,19.445494,20.486996,13.298137,5.080572
1998,7.466154,27.432793,25.360002,23.172578,21.942430,8.226286,5.219459,11.100675,12.432248,23.197667
1999,4.717725,14.192739,13.810109,17.239623,18.708036,21.133180,13.420947,16.579575,7.509676,21.129826
2000,18.377544,21.057531,2.552740,6.895369,24.673231,7.615123,28.485960,12.133027,26.208220,12.150830

In [70]:
LGD_df = pd.read_csv("data/LGD.csv", index_col=0)
LGD_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,0.477615,0.774759,0.272695,0.145551,0.673110,0.808340,0.709635,0.485672,0.129214,0.509846
2,0.396501,0.727446,0.806844,0.841742,0.869456,0.414275,0.359103,0.325210,0.445802,0.866027
3,0.317520,0.371855,0.171872,0.593442,0.629122,0.254120,0.734224,0.489273,0.659121,0.797178
4,0.738184,0.361244,0.493091,0.766334,0.150628,0.590744,0.315387,0.304719,0.318817,0.159957
5,0.502611,0.288300,0.800588,0.889890,0.511067,0.490399,0.122487,0.389543,0.225186,0.650205
...,...,...,...,...,...,...,...,...,...,...
1996,0.442357,0.520283,0.539605,0.343724,0.819636,0.146757,0.772442,0.611559,0.465631,0.106202
1997,0.674424,0.664246,0.336847,0.155901,0.659078,0.842419,0.229446,0.436489,0.610255,0.508552
1998,0.591731,0.301319,0.344341,0.820490,0.587332,0.830429,0.470045,0.480028,0.499719,0.675070
1999,0.365633,0.395536,0.878786,0.573115,0.529072,0.814775,0.743752,0.280401,0.273947,0.856536
2000,0.736615,0.365251,0.843163,0.226007,0.513136,0.819430,0.342379,0.205758,0.668427,0.515500

In [71]:
EAD_df = pd.read_csv("data/EAD.csv", index_col=0)
EAD_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,1.424074,1.930904,1.011231,1.781622,1.832504,1.329653,1.616393,1.301604,1.782304,1.681040
2,1.839507,1.091905,1.710783,1.157763,1.078823,1.790714,1.511965,1.537672,1.778821,1.641385
3,1.051831,1.300532,1.516973,1.050017,1.016175,1.598653,1.979850,1.078479,1.241109,1.377353
4,1.464744,1.637815,1.873024,1.092130,1.742037,1.123454,1.660154,1.270668,1.422150,1.266856
5,1.236885,1.700429,1.498478,1.191713,1.362056,1.978360,1.134103,1.618066,1.591146,1.794394
...,...,...,...,...,...,...,...,...,...,...
1996,1.120562,1.684512,1.606395,1.655496,1.293399,1.463392,1.943867,1.522511,1.681694,1.324698
1997,1.908182,1.241701,1.842518,1.795588,1.026147,1.539110,1.247887,1.134781,1.327817,1.157370
1998,1.106952,1.267996,1.993950,1.090709,1.584786,1.412557,1.782279,1.066221,1.202914,1.230430
1999,1.280955,1.172477,1.733266,1.603932,1.388440,1.969139,1.291145,1.172836,1.243858,1.162608
2000,1.042402,1.627452,1.588845,1.475656,1.404760,1.072155,1.942873,1.080147,1.603913,1.768441