In [48]:
import pandas as pd

In [49]:
lgd_multipliers = [1.36, 1.41, 1.43, 1.39, 1.46, 1.33, 1.47, 1.47, 1.32, 1.29]

In [50]:
lgd_df = pd.read_csv("data/LGD.csv", index_col=0)
stressed_lgd_df = lgd_df.copy()

for i in range(1, 11):
    stressed_lgd_df[f"Year {i}"] = lgd_df[f"Year {i}"] * lgd_multipliers[i - 1]

stressed_lgd_df = stressed_lgd_df.apply(lambda lgd: lgd.clip(upper=1.0), axis=1)
stressed_lgd_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,0.649557,1.000000,0.389954,0.202316,0.982741,1.000000,1.000000,0.713938,0.170562,0.657701
2,0.539241,1.000000,1.000000,1.000000,1.000000,0.550986,0.527881,0.478058,0.588458,1.000000
3,0.431827,0.524315,0.245777,0.824884,0.918518,0.337979,1.000000,0.719232,0.870040,1.000000
4,1.000000,0.509354,0.705120,1.000000,0.219917,0.785690,0.463619,0.447937,0.420839,0.206345
5,0.683551,0.406504,1.000000,1.000000,0.746158,0.652231,0.180056,0.572628,0.297245,0.838764
...,...,...,...,...,...,...,...,...,...,...
1996,0.601606,0.733599,0.771636,0.477776,1.000000,0.195186,1.000000,0.898992,0.614633,0.137001
1997,0.917217,0.936586,0.481691,0.216703,0.962254,1.000000,0.337286,0.641639,0.805536,0.656032
1998,0.804754,0.424860,0.492408,1.000000,0.857505,1.000000,0.690966,0.705641,0.659629,0.870841
1999,0.497261,0.557706,1.000000,0.796630,0.772446,1.000000,1.000000,0.412189,0.361610,1.000000
2000,1.000000,0.515004,1.000000,0.314150,0.749178,1.000000,0.503297,0.302465,0.882323,0.664995

In [51]:
pd_df = pd.read_csv("results/probability_of_default.csv", index_col=0)
ead_multiplier_df = pd.read_csv("data/EAD.csv", index_col=0)
amount_df = pd.read_csv("data/Amount.csv", index_col=0)

ead_df = amount_df * ead_multiplier_df
ead_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,12.810614,34.770512,28.718416,40.408848,23.316523,10.009906,12.922705,37.298318,47.674596,16.865315
2,5.282260,24.560620,3.154042,33.229493,10.717220,20.158502,3.862200,39.439464,41.695822,44.597097
3,16.637706,4.924824,41.839875,22.633789,16.511762,6.858320,56.214754,12.806135,35.340573,3.779069
4,2.076288,35.098718,15.148340,23.206436,35.030467,26.938684,44.093305,20.070455,10.725917,23.815188
5,16.037031,22.651730,4.717183,25.176720,15.247376,15.916207,25.931473,2.130878,19.531495,4.432807
...,...,...,...,...,...,...,...,...,...,...
1996,21.413156,23.173165,35.898508,16.101259,23.107668,16.022663,19.673962,11.045350,19.882677,20.676768
1997,26.602382,14.325095,21.700151,30.335485,29.732503,25.909430,24.265779,23.248249,17.657489,5.880102
1998,8.264673,34.784682,50.566567,25.274536,34.774062,11.620097,9.302535,11.835778,14.954926,28.543100
1999,6.043195,16.640654,23.936597,27.651191,25.974991,41.614165,17.328385,19.445114,9.340968,24.565706
2000,19.156792,34.270129,4.055908,10.175195,34.659960,8.164593,55.344610,13.105450,42.035695,21.488022

In [52]:
stress_test_1_el_df = pd.DataFrame()
for year in range(2, 11):
    stress_test_1_el_df[f"Year {year}"] = (
        pd_df[f"Year {year}"] * stressed_lgd_df[f"Year {year}"] * ead_df[f"Year {year}"]
    )

stress_test_1_el_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,
1,3.610784,1.490169,1.195604,2.138650,0.889769,1.402464,3.314774,1.102572,1.232482
2,3.169112,0.435040,4.291632,1.166794,1.542646,0.178977,2.471545,3.463941,6.276628
3,0.264385,1.430379,2.411286,2.166623,0.266137,7.567371,1.146545,3.679212,0.324384
4,1.856527,1.538845,2.949971,0.872697,2.125401,2.751873,1.087535,0.486110,0.691620
5,0.833933,0.377375,3.200431,1.545548,1.441812,0.633102,0.159951,0.645071,0.413120
...,...,...,...,...,...,...,...,...,...
1996,2.632715,3.853086,0.993534,2.617666,0.411501,2.667656,1.277262,1.316059,0.243153
1997,1.380318,1.605106,0.712821,3.241002,3.409135,0.888241,1.804473,1.928643,0.514338
1998,1.906920,3.463448,2.115490,3.544053,1.032897,0.697584,1.039644,1.337586,3.314199
1999,0.954794,3.329527,2.388552,2.384688,4.642903,1.617316,0.997726,0.363762,2.729523
2000,1.808325,0.493763,0.359162,2.826998,0.910926,3.803464,0.509884,5.147054,1.677706

In [53]:
stress_test_1_el_df.to_csv("results/stress_test_1_expected_loss.csv")

In [54]:
rating_changes = {
    "AAA": "A",
    "AA": "A",
    "A": "BBB",
    "BBB": "BB",
    "BB": "B",
    "B": "C",
    "C": "D",
    "D": "D",
}

In [55]:
ratings_df = pd.read_csv("data/Ratings.csv", index_col=0)
stressed_ratings_df = ratings_df.copy()

stressed_ratings_df["Year 10"] = stressed_ratings_df["Year 9"].map(rating_changes)
stressed_ratings_df

,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,,
1,AAA,BBB,BBB,B,A,BBB,BBB,D,A,BBB
2,A,BB,B,AA,AAA,C,B,AAA,AAA,A
3,BB,AA,BB,AA,BB,BB,C,D,BBB,BB
4,BBB,BBB,AA,A,B,D,C,C,AA,A
5,D,A,AAA,A,C,C,AA,AAA,B,C
...,...,...,...,...,...,...,...,...,...,...
1996,D,C,BB,AA,B,AAA,AA,BB,AA,A
1997,BBB,AAA,A,C,B,AAA,BBB,C,A,BBB
1998,C,BB,BB,BB,D,BBB,BBB,D,A,BBB
1999,B,AAA,BB,C,D,A,D,D,AA,A
2000,B,D,D,D,AAA,A,BB,BB,BB,B

In [56]:
transition_matrices: list[pd.DataFrame] = []
for year in range(9):
    transition_matrices.append(
        pd.read_csv(f"results/transition_matrix_{year+1}_to_{year+2}.csv", index_col=0)
    )

transition_matrices

[          AAA        AA         A       BBB        BB         B         C  \
 AAA  0.115226  0.127572  0.119342  0.119342  0.160494  0.123457  0.131687
 AA   0.116041  0.095563  0.187713  0.126280  0.119454  0.146758  0.105802
 A    0.132075  0.135849  0.124528  0.135849  0.162264  0.120755  0.098113
 BBB  0.150000  0.107692  0.138462  0.111538  0.107692  0.138462  0.142308
 BB   0.120968  0.100806  0.096774  0.112903  0.137097  0.125000  0.177419
 B    0.126697  0.122172  0.117647  0.108597  0.122172  0.149321  0.108597
 C    0.115044  0.123894  0.123894  0.123894  0.128319  0.119469  0.110619
 D    0.122951  0.135246  0.147541  0.151639  0.127049  0.118852  0.094262

             D
 AAA  0.102881
 AA   0.102389
 A    0.090566
 BBB  0.103846
 BB   0.129032
 B    0.144796
 C    0.154867
 D    0.102459  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.132000  0.148000  0.100000  0.116000  0.120000  0.156000  0.148000
 AA   0.165254  0.097458  0.105932  0.110169  0.135593  0.118644  0.122881
 A    0.116105  0.142322  0.149813  0.119850  0.112360  0.101124  0.104869
 BBB  0.137097  0.133065  0.149194  0.088710  0.120968  0.141129  0.096774
 BB   0.112782  0.142857  0.112782  0.090226  0.131579  0.146617  0.124060
 B    0.168582  0.141762  0.107280  0.130268  0.095785  0.111111  0.107280
 C    0.099174  0.123967  0.103306  0.148760  0.115702  0.095041  0.157025
 D    0.147826  0.152174  0.113043  0.108696  0.073913  0.143478  0.139130

             D
 AAA  0.080000
 AA   0.144068
 A    0.153558
 BBB  0.133065
 BB   0.139098
 B    0.137931
 C    0.157025
 D    0.121739  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.092937  0.130112  0.130112  0.156134  0.144981  0.096654  0.115242
 AA   0.136531  0.114391  0.092251  0.140221  0.132841  0.121771  0.132841
 A    0.152542  0.114407  0.110169  0.122881  0.097458  0.161017  0.114407
 BBB  0.096491  0.127193  0.109649  0.100877  0.140351  0.118421  0.175439
 BB   0.118943  0.189427  0.083700  0.136564  0.136564  0.132159  0.118943
 B    0.126482  0.142292  0.094862  0.086957  0.146245  0.118577  0.138340
 C    0.132530  0.092369  0.128514  0.092369  0.136546  0.156627  0.152610
 D    0.134831  0.104869  0.146067  0.134831  0.127341  0.123596  0.116105

             D
 AAA  0.133829
 AA   0.129151
 A    0.127119
 BBB  0.131579
 BB   0.083700
 B    0.146245
 C    0.108434
 D    0.112360  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.157258  0.104839  0.116935  0.092742  0.129032  0.157258  0.133065
 AA   0.150794  0.115079  0.115079  0.138889  0.115079  0.146825  0.083333
 A    0.115556  0.124444  0.120000  0.093333  0.155556  0.155556  0.142222
 BBB  0.143443  0.131148  0.098361  0.127049  0.118852  0.139344  0.139344
 BB   0.109023  0.131579  0.105263  0.135338  0.127820  0.112782  0.135338
 B    0.128906  0.125000  0.171875  0.085938  0.128906  0.125000  0.121094
 C    0.139623  0.094340  0.128302  0.116981  0.150943  0.101887  0.132075
 D    0.118852  0.139344  0.110656  0.106557  0.155738  0.127049  0.122951

             D
 AAA  0.108871
 AA   0.134921
 A    0.093333
 BBB  0.102459
 BB   0.142857
 B    0.113281
 C    0.135849
 D    0.118852  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.131579  0.097744  0.105263  0.142857  0.127820  0.131579  0.131579
 AA   0.120332  0.128631  0.157676  0.087137  0.120332  0.149378  0.136929
 A    0.103306  0.132231  0.111570  0.173554  0.123967  0.107438  0.136364
 BBB  0.168889  0.097778  0.151111  0.088889  0.124444  0.142222  0.137778
 BB   0.129630  0.125926  0.148148  0.133333  0.122222  0.100000  0.125926
 B    0.105660  0.105660  0.105660  0.169811  0.135849  0.147170  0.120755
 C    0.107143  0.119048  0.130952  0.134921  0.119048  0.130952  0.119048
 D    0.129707  0.138075  0.142259  0.092050  0.121339  0.142259  0.133891

             D
 AAA  0.131579
 AA   0.099585
 A    0.111570
 BBB  0.088889
 BB   0.114815
 B    0.109434
 C    0.138889
 D    0.100418  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.129032  0.133065  0.112903  0.129032  0.141129  0.108871  0.112903
 AA   0.110169  0.135593  0.118644  0.152542  0.122881  0.127119  0.097458
 A    0.152672  0.122137  0.103053  0.148855  0.129771  0.103053  0.106870
 BBB  0.135659  0.166667  0.112403  0.131783  0.112403  0.104651  0.127907
 BB   0.148594  0.120482  0.132530  0.108434  0.112450  0.108434  0.132530
 B    0.145038  0.133588  0.118321  0.114504  0.133588  0.137405  0.129771
 C    0.130769  0.115385  0.100000  0.107692  0.096154  0.180769  0.134615
 D    0.111111  0.106667  0.120000  0.124444  0.115556  0.177778  0.151111

             D
 AAA  0.133065
 AA   0.135593
 A    0.133588
 BBB  0.108527
 BB   0.136546
 B    0.087786
 C    0.134615
 D    0.093333  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.127341  0.157303  0.078652  0.146067  0.097378  0.119850  0.142322
 AA   0.119691  0.115830  0.108108  0.127413  0.127413  0.166023  0.138996
 A    0.113537  0.144105  0.157205  0.113537  0.131004  0.113537  0.126638
 BBB  0.153543  0.145669  0.102362  0.122047  0.098425  0.106299  0.114173
 BB   0.153527  0.116183  0.128631  0.112033  0.103734  0.116183  0.141079
 B    0.103448  0.118774  0.126437  0.095785  0.157088  0.153257  0.134100
 C    0.108871  0.133065  0.104839  0.112903  0.141129  0.125000  0.153226
 D    0.141079  0.107884  0.145228  0.103734  0.124481  0.103734  0.149378

             D
 AAA  0.131086
 AA   0.096525
 A    0.100437
 BBB  0.157480
 BB   0.128631
 B    0.111111
 C    0.120968
 D    0.124481  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.117647  0.129412  0.117647  0.121569  0.133333  0.113725  0.125490
 AA   0.123077  0.146154  0.134615  0.138462  0.134615  0.123077  0.092308
 A    0.139831  0.114407  0.105932  0.144068  0.110169  0.148305  0.101695
 BBB  0.158120  0.106838  0.141026  0.115385  0.132479  0.102564  0.123932
 BB   0.118367  0.146939  0.138776  0.061224  0.126531  0.122449  0.146939
 B    0.150794  0.111111  0.115079  0.130952  0.119048  0.111111  0.150794
 C    0.156364  0.141818  0.083636  0.087273  0.090909  0.160000  0.167273
 D    0.115226  0.131687  0.098765  0.139918  0.144033  0.135802  0.094650

             D
 AAA  0.141176
 AA   0.107692
 A    0.135593
 BBB  0.119658
 BB   0.138776
 B    0.111111
 C    0.112727
 D    0.139918  ,
           AAA        AA         A       BBB        BB         B         C  \
 AAA  0.137037  0.155556  0.103704  0.107407  0.125926  0.118519  0.111111
 AA   0.127907  0.158915  0.124031  0.135659  0.100775  0.104651  0.135659
 A    0.090129  0.120172  0.141631  0.154506  0.090129  0.150215  0.167382
 BBB  0.115385  0.115385  0.141026  0.102564  0.136752  0.123932  0.153846
 BB   0.117409  0.145749  0.137652  0.101215  0.137652  0.109312  0.133603
 B    0.117647  0.082353  0.125490  0.141176  0.094118  0.168627  0.137255
 C    0.130952  0.142857  0.134921  0.126984  0.107143  0.099206  0.134921
 D    0.115538  0.115538  0.127490  0.115538  0.147410  0.139442  0.127490

             D
 AAA  0.140741
 AA   0.112403
 A    0.085837
 BBB  0.111111
 BB   0.117409
 B    0.133333
 C    0.123016
 D    0.111554  ]

In [57]:
default_probabilities = [
    transition_matrix["D"] for transition_matrix in transition_matrices
]
stressed_pd_df = pd.DataFrame()

for year in range(2, 11):
    stressed_pd_df[f"Year {year}"] = stressed_ratings_df[f"Year {year}"].map(
        default_probabilities[year - 2]
    )
stressed_pd_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,
1,0.103846,0.133065,0.146245,0.093333,0.088889,0.108527,0.124481,0.135593,0.111111
2,0.129032,0.137931,0.129151,0.108871,0.138889,0.087786,0.131086,0.141176,0.085837
3,0.102389,0.139098,0.129151,0.142857,0.114815,0.134615,0.124481,0.119658,0.117409
4,0.103846,0.144068,0.127119,0.113281,0.100418,0.134615,0.120968,0.107692,0.085837
5,0.090566,0.080000,0.127119,0.135849,0.138889,0.135593,0.131086,0.111111,0.123016
...,...,...,...,...,...,...,...,...,...
1996,0.154867,0.139098,0.129151,0.113281,0.131579,0.135593,0.128631,0.107692,0.085837
1997,0.102881,0.153558,0.108434,0.113281,0.131579,0.108527,0.120968,0.135593,0.111111
1998,0.129032,0.139098,0.083700,0.118852,0.088889,0.108527,0.124481,0.135593,0.111111
1999,0.102881,0.139098,0.108434,0.118852,0.111570,0.093333,0.124481,0.107692,0.085837
2000,0.102459,0.121739,0.112360,0.108871,0.111570,0.136546,0.128631,0.138776,0.133333

In [58]:
stress_test_2_el_df = pd.DataFrame()
for year in range(2, 11):
    stress_test_2_el_df[f"Year {year}"] = (
        stressed_pd_df[f"Year {year}"] * lgd_df[f"Year {year}"] * ead_df[f"Year {year}"]
    )

stress_test_2_el_df

,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
Borrower Number,,,,,,,,,
1,2.797486,1.042076,0.860147,1.464829,0.719236,0.995237,2.254948,0.835282,0.955412
2,2.305359,0.351010,3.612446,1.014476,1.159884,0.121753,1.681323,2.624198,3.315218
3,0.187507,1.000265,1.734738,1.483988,0.200103,5.556143,0.779963,2.787282,0.353705
4,1.316686,1.076115,2.260664,0.597738,1.598046,1.872022,0.739820,0.368265,0.326988
5,0.591442,0.302122,2.848032,1.058594,1.084069,0.430682,0.108810,0.488690,0.354560
...,...,...,...,...,...,...,...,...,...
1996,1.867174,2.694466,0.714773,2.145533,0.309399,2.060609,0.868886,0.997014,0.188491
1997,0.978949,1.122452,0.512821,2.219864,2.871920,0.604246,1.227532,1.461093,0.332260
1998,1.352425,2.421991,1.735739,2.427433,0.857748,0.474547,0.707241,1.013323,2.140955
1999,0.677159,2.925941,1.718383,1.633348,3.782919,1.202882,0.678725,0.275577,1.806130
2000,1.282500,0.416323,0.258390,1.936300,0.746440,2.587390,0.346860,3.899283,1.476944

In [59]:
stress_test_2_el_df.to_csv("results/stress_test_2_expected_loss.csv")

In [60]:
el_df = pd.read_csv("results/expected_loss.csv", index_col=0)

In [ ]:
print("Total Expected Loss Year 10: ", el_df["Year 10"].sum())
print(
    "Total Stress Test 1 Expected Loss Year 10: ", stress_test_1_el_df["Year 10"].sum()
)
print(
    "Total Stress Test 2 Expected Loss Year 10: ", stress_test_2_el_df["Year 10"].sum()
)

Total Expected Loss Year 10:  2682.310321709403
Total Stress Test 1 Expected Loss Year 10:  3387.377531524671
Total Stress Test 2 Expected Loss Year 10:  2519.5649790652874

In [63]:
for year in range(2, 11):
    print(f"Total Expected Loss Year {year}: ", el_df[f"Year {year}"].sum())
    print(
        f"Total Stress Test 1 Expected Loss Year {year}: ",
        stress_test_1_el_df[f"Year {year}"].sum(),
    )
    print(
        f"Total Stress Test 2 Expected Loss Year {year}: ",
        stress_test_2_el_df[f"Year {year}"].sum(),
        "\n",
    )

Total Expected Loss Year 2:  2658.0569654962774
Total Stress Test 1 Expected Loss Year 2:  3589.9352038069064
Total Stress Test 2 Expected Loss Year 2:  2658.0569654962774

Total Expected Loss Year 3:  3109.281502731012
Total Stress Test 1 Expected Loss Year 3:  4220.280463182567
Total Stress Test 2 Expected Loss Year 3:  3109.281502731012

Total Expected Loss Year 4:  2758.958214684034
Total Stress Test 1 Expected Loss Year 4:  3666.9767316810285
Total Stress Test 2 Expected Loss Year 4:  2758.958214684034

Total Expected Loss Year 5:  2799.959400363592
Total Stress Test 1 Expected Loss Year 5:  3855.863301500918
Total Stress Test 2 Expected Loss Year 5:  2799.959400363592

Total Expected Loss Year 6:  2614.8466960460864
Total Stress Test 1 Expected Loss Year 6:  3374.327240907704
Total Stress Test 2 Expected Loss Year 6:  2614.8466960460864

Total Expected Loss Year 7:  2881.5891626182456
Total Stress Test 1 Expected Loss Year 7:  3966.2679469254554
Total Stress Test 2 Expected Loss Year 7:  2881.5891626182456

Total Expected Loss Year 8:  2852.074226845445
Total Stress Test 1 Expected Loss Year 8:  3930.8671564559577
Total Stress Test 2 Expected Loss Year 8:  2852.074226845445

Total Expected Loss Year 9:  2833.8902919266743
Total Stress Test 1 Expected Loss Year 9:  3647.4767542575805
Total Stress Test 2 Expected Loss Year 9:  2833.8902919266743

Total Expected Loss Year 10:  2682.310321709403
Total Stress Test 1 Expected Loss Year 10:  3387.377531524671
Total Stress Test 2 Expected Loss Year 10:  2519.5649790652874